/.pnp
/backend/env
/backend/static
/backend/syslogs
/backend/env.py
/backend/media/place-images/*
!/backend/media/place-images/git.md
/backend/env.db
/frontend/node_modules
/frontend/dist
/frontend/coverage
/frontend/.nuxt
/frontend/build
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/arn-error.log*
/frontend/.env
.DS_Store
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.pnp.js
.idea
__pycache__
/admin/node_modules
/admin/dist
/admin/coverage
/admin/.nuxt
/admin/build
/admin/.DS_Store
/admin/.env.local
/admin/.env.development.local
/admin/.env.test.local
.env.production.local
/admin/npm-debug.log*
/admin/yarn-debug.log*
/admin/arn-error.log*
/admin/.env