<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="imf_contact_outter">
        <h2 class="imf-title"></h2>

        <div class="imf_contact">
            <div class="submit-wrap">
                <button type="submit" class="imf_submit"></button>
            </div>

            <div class="fields-wrap">
                <div class="field-item fi1">
                    <div class="field-label"></div>
                    <div class="field-input-wrap">
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="field-item fi2">
                    <div class="field-label"></div>
                    <div class="field-input-wrap">
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="field-item fi3">
                    <div class="field-label"></div>
                    <div class="field-input-wrap">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>